#game {
  display: block;
  position: relative;
  padding: 0px;
  font-family: "helvetica neue", arial, sans-serif;
  color: #FFF;
  background-color: $game;
  table,
  tbody,
  tr {
    display: block;
    width: 100%;
    font-size: 0px;
  }
  table { padding: 15px 0px; }
  tr {
    position: relative;
    max-height: 25px;
    text-align: center;
  }
  .building > * {
    display: block;
  }
  .gridCell {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    text-align: center;
    border: 1px #555 solid;
    box-sizing: border-box;
    overflow: hidden;
    nothing {
      display: none;
      height: 100%;
      width: 100%;
      background-color: green;
    }
    :not(nothing) {
      background-color: blue;
    }
  }
}
