#game {
  display: block;
  position: relative;
  padding: 0px;
  font-family: "helvetica neue", arial, sans-serif;
  color: #FFF;
  background-color: $game;
  table,
  tbody,
  tr {
    display: block;
    width: 100%;
    font-size: 0px;
  }
  table { padding: $gameGridVerticalPadding 0px; }
  tr {
    position: relative;
    max-height: 25px;
    text-align: center;
    white-space: nowrap;
    .gridCell {
      display: inline-block;
      height: 25px;
      width: 25px;
      margin: 0px;
      padding: 0px;
      font-size: 11px;
      text-align: center;
      border-right: 1px solid $gridColor;
      border-bottom: 1px solid $gridColor;
      box-sizing: border-box;
      overflow: hidden;
      nothing {
        display: block;
        height: 100%;
        width: 100%;
        background-color: $gridBackground;
        &.cell-placement-hover-state {
          background-color: $placementLocation;
          &:hover {
            background-color: $placementHover;
          }
        }
      }
      > :not(nothing) {
        display: block;
        height: 100%;
        width: 100%;
        background-color: $buildingBackground;
        &.cell-placement-hover-state {
          background-color: $invalidPlacementLocation;
          &:hover {
            cursor: not-allowed;
          }
        }
        &.building {
          cursor: pointer;
          & > * {
            display: block;
          }
          .building-name,
          .building-status {
            display: block;
            height: 50%;
            line-height: 11px;
          }
        }
        &.character-entity {
          cursor: pointer;
          background-color: $charBackground;
        }
      }
      &:first-of-type {
        border-left: 1px solid $gridColor;
      }
    }
    &:first-of-type {
      td.gridCell {
        border-top: 1px solid $gridColor;
      }
    }
  }
}
