.resources {
  .resource {
    display: block;
    .resource-icon {
      display: inline-block;
      position: relative;
      height: 12px;
      width: 12px;
      box-sizing: border-box;
      vertical-align: middle;
      &.wood {
        background-color: brown;
      }
      &.stone {
        background-color: grey;
      }
      &.gold {
        background-color: gold;
      }
      &.food {
        background-color: green;
      }
    }
    .resource-amount {
      display: inline-block;
      margin-right: 4px;
      font-size: 11px;
      vertical-align: middle;
    }
  }
}
