.resources {
  .resource {
    display: block;
    &.wood {
      color: brown;
    }
    &.stone {
      background-color: grey;
    }
    &.gold {
      background-color: gold;
    }
    &.banana {
      background-color: yellow;
    }
    .resource-amount {
      display: inline-block;
      margin-right: 4px;
      font-size: 11px;
      vertical-align: middle;
    }
  }
}

.resource-icon {
  display: inline-block;
  position: relative;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  vertical-align: middle;
  background-size: contain;
  &.wood {
    background-image: url(../images/resources/wood.png);
  }
  &.stone {
    background-color: grey;
  }
  &.gold {
    background-color: gold;
  }
  &.banana {
    background-image: url(../images/resources/banana.png);
  }
  &.monkey {
    background-image: url(../images/resources/monkey.png);
  }
}

collect {
  height: 32px;
  width: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: white;
  border-radius: 32px;
  overflow: hidden;
}
collect > .resource-icon {
  height: 32px;
  width: 32px;
}