#selection-display {
  max-width: 35%;
  bottom: 30px;
  left: 30px;
  &.hidden {
    display: none;
  }
}

#character-menu {
  line-height: 16px;
  font-size: 13px;
}

#build-menu {
  line-height: 16px;
  font-size: 13px;
  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
  }
}

#cancel-menu {
  font-size: 20px;
  .cancel-msg {
    margin-left: 4px;
    font-size: 13px;
  }
  span {
    vertical-align: middle;
  }
}
