.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.notification-enter {
  opacity: 0.01;
  transform: translateY(30px);
}

.notification-enter.notification-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: transform 500ms ease-in, opacity 500ms ease-in;
}

.notification-leave {
  opacity: 1;
  transform: translateY(0px);
}

.notification-leave.notification-leave-active {
  opacity: 0.01;
  transform: translateY(-10px);
  transition: transform 300ms ease-out, opacity 300ms ease-out;
}